<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROJECT.My.MySettings.Database1ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="PROJECT.My.MySettings.Database1ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Azri\Desktop\GAMPANG\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="PROJECT.My.MySettings.database_2_hmConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Azri\Desktop\GAMPANG\database 2 hm.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>